* 
{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: #000344;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    background-color: #E6F2FF;
    overflow-x: hidden;
}

table
{
    border-collapse: separate;
    border-spacing: 0 20px;
}

.border-pass
{
    border-radius: 14px;
    padding: 15px 25px;
    background-color: white;
    color: #000344;
    font-size: 1.1rem;
    border: none;
}

.border-pass:hover
{
    background-color: rgb(250, 250, 250);
    color: #00044e;
}

.border-pass:focus
{
    outline: 0;
    box-shadow: none;
}

.user
{
    width: 50%;
    border-radius: 50%;
}

.bin
{
    border: none;
    background: none;
    padding-left: 1rem;
}

.message
{
    display: none;
}

.select
{
    background-color: #000344;
    color: #fff;
}

.btn-l
{
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.7rem;
}

.delete
{
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.7rem;
    background-color: #ef2f2f;
    color: #fff;
    transition: 1s ease-out;
}

.bin-1
{
    transition: 0.5s ease-out;
}

.delete:hover
{   
    background-color: #e22c2c;
}

.bin-1:hover
{   
    fill: #e02929;
}

.success
{
    position: fixed;
    padding: 15px;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffff;
    background-color: #000331;
    border-radius: 10px;
}

.error
{
    position: fixed;
    padding: 15px;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffff;
    background-color: #ef2f2f;
    border-radius: 10px;
}


.name
{
    font-size: 1.2rem;
    margin-bottom: 0px;
    padding-left: 5rem;
}

.result-box
{
    width: 90vw;
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem;
}
.result-box-list
{
    width: 90vw;
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem;
}

.m-box
{
    width: 90vw;
}

.img
{
    width: 34px;
    height: 50px;
}

.search-bar
{
    width: 55vw;
    border: none;
    border-radius: 4px 0 0 4px;
    padding: 10px;
}

.add 
{
    border: none;
    background: none;
    font-size: 2rem;
}

.search-bar:focus
{
    outline: none;
}

.search-box
{
    width: 100%;
    height: 40px;
}

.search-button
{
    width: 40px;
    border-radius: 0 4px 4px 0;
    border: none;
    background-color: #000331;
}

.search-button i
{
    color:#fff;
    font-size: 1.2rem;
}



.wrong-box, .wrong-box span
{
    background-color: #F7D7DC;
    color: #602730;
    font-weight: normal;
    border-radius: 4px;
}

.enter span
{   
    font-weight: normal;
    color: #da2020;
}

.circle-all
    {
        width: 165px;
        height: 165px;
        border-radius: 100%;
        background-color: #fff;
        margin: 30px;
    }


.logo 
{
    width: 43px;
    height: 37px;
    margin-left: 140px;
}

.nav_name
{
    position: relative;
    top: 10px;
    font-size: 15px;
}

.main_svg 
{
    text-align: right;
}



.main-btn 
{
    width: 130px;
    height: 50px;
    border-radius: 100px;
    border: #000344 2px solid;
    background-color: #E6F2FF;
    margin: 3px;
}

.btn-f 
{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
}

.btn-login, .btn-login span
{
    color: #fff;
    background-color: #000344;
}

.btn-login:hover
{   
    transition: 0.5s;
    color: #fff;
    background-color: #000331;
}



.h-4
{
    height: 45px;
    width: 100%;
    border: #000344 solid 1px;
    border-radius: 4px;
}

.need 
{
    border: #da2020 solid 2px;
}

.h-4:focus
{
    outline: #000344 solid 1.5px;
}

.need:focus
{
    outline: #000344 solid 1.5px;
    border: #000344 solid 1px;
}

.form-check-input
{
    accent-color: #000344;
    border: #000344 1px solid;
}

.form-check-input:checked
{
    background-color: #000344;
    border-color: #000344;
}

.form-check-input:focus
{
    border: #000344 1px solid;
    box-shadow: none;

}

.login-btn 
{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    width: 150px;
    color: #fff;
    background-color: #000344;
}

.foot-btn
{
    outline: none;
    border: #000344 1px solid;
    border-radius: 3px;
    color: #fff;
    background-color: #000344;
    font-size: 0.9em;
    width: 65px;
    padding: 2px;
}

.navigation-item
{
    list-style: none;
    margin: 0;
    padding: 0;
} 

.nav-item a
{
    color: #000344;
    transition: 0.5s;
}
.nav-item a:hover, .nav-item a:focus
{
    color: #01088d;
}


@media screen and (min-width: 767px)
{
    .result-box
    {
        width: 50vw;
        padding: 0 2rem 2rem 2rem;
    }

    .result-box-list
    {
        width: 50vw;
        padding: 0 2rem 2rem 2rem;
    }

    .m-box{
        width: 50vw;
    }
}

@media screen and (max-width: 993px)
{
    .display-med-none
        {
            display: none;
        }
}

@media screen and (min-width: 993px)
{   
    .search-bar
    {
        width: 30vw;

    }

    .result-box-list
    {
        width: 90vw;
        padding: 0 2rem 2rem 2rem;
        
    }

    .nav-link
    {
        position: relative;
    }

    .nav-link::after
    {
        content: '';
        height: 4px;
        width: 0;
        background-color: #01088d;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: all 0.5s;
        border-radius: 4px;
    }

    .nav-link:hover::after
    {
        width: 100%;
    }

    .fs-lg-big  p
    {
        font-size: 5em;
    }

    .fs-lg-lab
    {
        font-size: 1.3em;
    }
    .h-lg-7
    {
        height: 700px;
    }
    .h-lg-8
    {
        height: 750px;
    }

    .w-lg-450
    {
        width: 450px;
    }

    .box
    {
        width: 530px;
        height: 700px;
        background-color: white;
        border-radius: 15px;
    }

    .result-box
    {
        width: 30vw;
    }

    .m-box
    {
        width: 90vw;
    }

    .wel
    {
        left: 375px;
        width: 250px;
        font-size: 3em;
        position: absolute;
        top: 165px;
    }

    .login-head
    {
        font-weight: bold;
        font-size: 2.7em;
    }

    .inner-box
    {
        width: 300px;
    }

    
    .display-lg-none
    {
        display: none;
    }

    .lg-title
    {
        width: 500px;
    }
    
}

@media screen and (max-width: 993px)
{     
    .rating
    {
        width: 70px;
    }
    .logo 
    {
        width: 43px;
        height: 37px;
        margin-left: 20px;
    }

    .navigation-item[data-visible="true"] {
        transform: translateX(0%);
    }

    .navigation-item
    {   
        position: fixed;
        inset: 0 0 0 30%;
        flex-direction: column;
        padding: min(30vh, 10rem) 2rem;
        gap: 2em;
        z-index: 1000;
        transform: translateX(100%);
        transition: transform 350ms ease-out;

        /* UI Properties */
 
        opacity: 1;
        backdrop-filter: blur(6px) brightness(100%);
        background: rgb(240 247 255 / 80%);
    }

    .mobile-nav-toggle
    {
        position: absolute;
        width: 2rem;
        font-size: 2rem;
        background-color: transparent;
        background: url(/static/icon-hamburger.svg);
        background-repeat: no-repeat;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
        z-index: 9999;
        border: 0;
    }

    .mobile-nav-toggle[aria-expanded="true"]
    {
        background: url(../static/icon-close.svg);
    }

    

    .nav-link
    {
        padding: 0;
        font-size: 1.2rem;
    }

    .h-xs-main
    {
        height: 360px;
        width: 270px;
    }


    .fs-sm
    {
        font-size: 1.2em;
    }
    .mt-xs-4
    {
        margin-top: 25px;
    }

    .inner-sm-box
    {
        width: 70%;
    }

    .login-sm-head
    {
        font-weight: bold;
        font-size: 1.7em;
    }

    .justify-content-xs-between
    {
        justify-content: space-between;
    }

    .display-none
    {
        display: none;
        height: 47px;
    }
    .box-sm
    {
        background-color: #fff;
        height: 590px;
        width: 100vw;
        border-radius: 45px 45px 0px 0px;
        
    }
    .circle
    {
        width: 165px;
        height: 165px;
        border-radius: 100%;
        background-color: #fff;
        margin: 30px;
    }

    .d-sup-flex
    {
        display: flex;
    }

    .flex-xs-column
    {
        flex-direction: column;
    }

    .h-sm-full
    {
        height: 100vh;
    }

    .h-sm-main
    {
        height: 500px;
    }

    .fs-main
    {
        font-size: 2.5em;
    }

    .btn-sm
    {
        background-color: #fff;
    }

    .fs-small
    {
        font-size: 0.8rem;
    }

}
